﻿@model IEnumerable<BordoHome.ViewModel.BranchInventory>

@{
    ViewBag.Title = "BrandInventory";
}

<h2>BrandInventory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MARKAADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MERKEZ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odemis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazilli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gaziemir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Milas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.MARKAADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MERKEZ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Odemis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazilli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gaziemir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Milas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

    <tr>
        <td>
           Sum :  @ViewData["Merkez"]
        </td>
    </tr>
</table>

