﻿@model IEnumerable<BordoHome.ViewModel.Inventory>

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GRPADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Merkez)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Odemis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazilli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gaziemir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Milas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GRPADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Merkez)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Odemis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazilli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gaziemir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Milas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
