﻿@model IEnumerable<BordoHome.ViewModel.TahsVadeFarkli>

@{
    ViewBag.Title = "PaymentDelayCharge";
}

<h2>PaymentDelayCharge</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TAHSUBE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBEADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TUTAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VADEFARKI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ERKENISKONTOSU)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TAHSUBE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBEADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TUTAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VADEFARKI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ERKENISKONTOSU)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
