﻿@model IEnumerable<BordoHome.ViewModel.PurchaseParts>

@{
    ViewBag.Title = "PurchaseParts";
}

<h2>PurchaseParts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.STSEKOD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STSEADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRPADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATISMIKTAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IADEMIKTAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATISTUTAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IADETUTAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STSECARI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STSESUBE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bolum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birinci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ikinci)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Super)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.STSEKOD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STSEADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRPADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SATISMIKTAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IADEMIKTAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SATISTUTAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IADETUTAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NET)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STSECARI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STSESUBE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bolum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birinci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ikinci)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Super)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
